{{#if addAnswerForm}}
  <h2>Add Answer</h2>
  <div class="container col-xs-12">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="content">Answer</label>
        {{textarea row="4" cols="50" value=content id="content" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" class="form-control" placeholder="Anonymous"}}
      </div>

      <button class="btn btn-primary" {{action 'addAnswer' question}}>Submit</button>
      <button class="btn btn-cancel" {{action 'hideAnswerForm'}}>Cancel</button>
    </form>
  </div>
{{else}}
  <span class="btn btn-primary" {{action 'showAnswerForm'}}>Answer</span>
{{/if}}
