<ul>
  <h3><i>Most Popular Answers</i></h3>
  <hr>
  {{#each sortedAnswers as |answer|}}
    <li>
      {{#if displayQuestion}}
        <p class="question">
          Q: {{#link-to 'question' answer.question.id}}{{answer.question.query}}{{/link-to}}
        </p>
      {{/if}}
      <h4>
        <i>{{answer.author}}</i>: <strong>{{answer.content}}</strong><br>
        <small>
          {{moment-from-now answer.date}}
          {{#unless displayVote}}
            <i class="fa fa-thumbs-o-up"> {{answer.upVotes}}</i>
          {{/unless}}
        </small>

        {{#if displayVote}}
          <br><br>
          {{vote-tile answer=answer}}
          <span> Votes: {{answer.upVotes}}</span>
        {{/if}}
      </h4>
      <hr>
    </li>
  {{/each}}
</ul>

<script type="text/javascript">
  $(function() {
    $('.thumb-icon').hover(
      function() {
        $(this).toggleClass('fa-lg');
      },
      function() {
        $(this).toggleClass('fa-lg');
      }
    );
  });
</script>
