{{jumbotron-header header='Ask a Question'}}

<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="query">Query</label>
      {{input value=query id="query" class="form-control" placeholder="What do you need answered?"}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{textarea row="4" cols="50" value=notes id="notes" class="form-control" placeholder="Add additional notes here..."}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author" class="form-control" placeholder="Anonymous"}}
    </div>
  </form>
</div>

<!-- Save -->
<button class="btn btn-success"{{action 'saveQuestion'}}><i class="fa fa-save"></i></button>
<!-- Cancel -->
{{#link-to 'index'}}
  <button class="btn btn-danger"><i class="fa fa-close"></i></button>
{{/link-to}}
