<div class="jumbotron">
  <h2>
    {{question.query}}{{modify-question question=question deleteQuestion="deleteQuestion"}}<br>
    <small><i>{{question.author}}</i></small>
  </h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-8">
      <h3><i>Notes</i></h3>
      <div class="container">
        <i>{{question.notes}}</i>
      </div>
      <br><hr>

      {{add-answer question=question addAnswer="addAnswer"}}
    </div>

    <div class="col-xs-6 col-lg-4">
      {{answer-listing answers=question.answers}}
    </div>
  </div>
</div>
