{{#jumbotron-header header=question.query}}
  {{modify-question question=question deleteQuestion="deleteQuestion"}}<br>
  <small><i>{{question.author}}</i></small>
{{/jumbotron-header}}

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-lg-8">
      <h3><i>Notes</i></h3>
      <hr>
      <i>{{question.notes}}</i>
      <br>
      <hr>

      {{add-answer question=question addAnswer="addAnswer"}}
    </div>

    <div class="col-xs-6 col-lg-4">
      {{answer-listing answers=question.answers}}
    </div>
  </div>
</div>
