<div class="jumbotron">
  <h2>
    {{question.query}}{{modify-question question=question deleteQuestion="deleteQuestion"}}<br>
    <small><i>{{question.author}}</i></small>
  </h2>
</div>

<h3>Notes:</h3>
<div class="container">
  <i>{{question.notes}}</i>
</div><br>

{{add-answer question=question addAnswer="addAnswer"}}

{{answer-listing answers=question.answers}}
